<% if @message.errors.any? %>
	<div class="alert alert-error">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
    <% @message.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
</div>
<% end %>



<%= form_for @message, :url => {:action => 'update'}, :html => {:class=> 'form-horizontal'} do |f| -%>

	<%= f.label "Edit your message:" %><%= f.text_area :contents, :class => "span5", :style => "height:200px;"%>
	<label class="checkbox">Display your Friend Code on this page
	<%= f.check_box :display_fc %></label>
	<label class="checkbox">Display your game collection on this page
	<%= f.check_box :display_games %></label>
	<button type="submit" class="btn" name="commit">Update</button>

<% end -%>
