<% if flash[:notice] %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<div>
	<h1><%= link_to "Get a free account", signup_path %></h1>
	<ul>
		<li>Save, Edit and Delete your StreetPass pages</li>
		<li>Personalized links like this one: 3dstxt.com/scott</li>
		<li>Receive email notifications when people comment on your page.</li>
		<li>See how many views and comments your pages receive!</li>
	</ul>
</div>

<div class="well">
	<h1>How it works</h1><ul><li>Enter a StreetPass message.</li>
	<li>Press create.</li>
	<li>Share your new 3DStxt link as a greeting or personal message on your 3DS.</li>
	<li>Come back to your page and read your replies!</li>
	</ul>
</div>
<% if flash[:error] %>
<div class="alert alert-error">

<p><%= flash[:error] %></p>
<% end %>

<% if @message.errors.any? %>
	<div class="alert alert-error">
    <% @message.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
</div>
<% end %>



<%= form_for(@message, :html => {:class => "well"}) do |f| -%>
<%= f.label "Create a new 3DStxt page here" %>
<%= f.text_area(:contents, :class => "span8", :style => "height:150px;") %><br/>
<%= f.submit "Create", :class => "btn btn-success btn-large" -%>
<% end %>


<div><h1>Tips</h1>
<h2>You may want to include:</h2>
<ul>
	<li>Your first name or your Mii's nickname</li>
	<li>Your Friend Code</li>
	<li>Your home state and/or city</li>
	<li>A list of your favorite 3DS games</li>
</ul>
<h2>You should NOT include:</h2>
<ul><li>Your full name</li>
<li>Your address</li>
<li>Any other personally identifiable information</li></ul>
</div>

