<% if flash[:notice] %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<div id="account">
	<h1><%= link_to "Create a free 3DStxt Account for these features", signup_path %></h1>
	<ul>
		<li>Save, Edit and Delete your StreetPass pages</li>
		<li class="heart">Personalized links like this one: <span class="link">3dstxt.com/scott</span></li>
		<li class="alerts">Receive email notifications when people comment on your page.</li>
		<li class="stats">See how many views and comments your pages receive!</li>
	</ul>
</div>

<div id="howto">
	<h1>How it works</h1><ul><li>Enter a StreetPass message.</li>
	<li>Press create.</li>
	<li>Share your new 3DStxt link as a greeting or personal message on your 3DS.</li>
	<li>Come back to your page and read your replies!</li>
	</ul>
</div>
<% if flash[:error] %>
<div class="errors">
<ul><li>
<%= flash[:error] %></li></ul></div>
<% end %>

<% if @message.errors.any? %>
	<div class="errors">
	<ul>
    <% @message.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
</div>
<% end %>

<div id="form">

<%= form_for @message do |f| -%>

	<p><%= f.label "Enter your message here:" %><br/><%= f.text_area :contents %></p>
	
  <%= f.submit "Create", :class => "submit" %>

<% end -%>
</div>

<div class="tips"><h1>Tips</h1>
<h2>You may want to include:</h2>
<ul>
	<li>Your first name or your Mii's nickname</li>
	<li>Your Friend Code</li>
	<li>Your home state and/or city</li>
	<li>A list of your favorite 3DS games</li>
</ul>
<h2>You should NOT include:</h2>
<ul><li>Your full name</li>
<li>Your address</li>
<li>Any other personally identifiable information</li></ul>
</div>

