<div class="content-padding"><div class="row"><div class="span5"><% if flash[:notice] %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %></div></div>

<div class="hero-unit">
<div class="picture-tease"><div class="text-overlay"><div class="inner-padding"><ul><li><i class="icon-list-alt icon-white"></i> Stat tracking</li>
		<li><i class="icon-envelope icon-white"></i> Email notifications</li>
			<li><i class="icon-heart icon-white"></i> Share your Friend Code</li>
		<li><i class="icon-star icon-white"></i> List the 3DS and DS games you're playing</li>
		</ul></div></div></div>
		
		<h1><%= link_to "Get a free account", signup_path %></h1>
<p>Get your own customizable 3DS page to broadcast to anyone you StreetPass!</p>

 </div>



<% if flash[:error] %>
<div class="row"><div class="span5"><div class="alert alert-error">
<%= flash[:error] %>
</div></div></div>
<% end %>

<% if @message.errors.any? %>
<div class="row"><div class="span5"><div class="alert alert-error">
    <% @message.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
</div></div></div>
<% end %>

<div class="row"><div class="span8"><div class="action-box inner-padding"><%= form_for(@message, :html => {:class => ""}) do |f| -%>
<h2>Create a new 3DStxt page here</h2>
<%= f.text_area(:contents, :class => "span6", :style => "height:150px;") %><br/>
<%= f.submit "Create", :class => "btn btn-success btn-large" -%>
<% end %></div></div></div>



<h1>Tips</h1>
<h2>You may want to include:</h2>
<ul>
	<li>Your first name or your Mii's nickname</li>
	<li>Your Friend Code</li>
	<li>Your home state and/or city</li>
	<li>A list of your favorite 3DS games</li>
</ul>
<h2>You should NOT include:</h2>
<ul><li>Your full name</li>
<li>Your address</li>
<li>Any other personally identifiable information</li></ul>
</div>