<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class="content"><div class="message"><%= simple_format(@message.contents) %></div><br/>
<% unless @message.password.blank? %>
<%= link_to "Edit this message", :controller => 'messages', :action => 'edit', :pickUpCode => @message.pickUpCode %>
<% end %>

<div class="share">Share this link as a 3DS message:<br/>
<%= link_to "3dstxt.com/#{@message.pickUpCode}" %><br/>
</div>
<%= render "disqus" %>
<div class="make_your_own"><%= link_to "Make your own 3DS TXT!", new_message_path %></div>

</div>