<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class="content">
	<div class="amazon"><OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab" id="Player_30111211-afb6-4562-b39a-ed032ee02be7"  WIDTH="120px" HEIGHT="400px"> <PARAM NAME="movie" VALUE="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fplasticbugs-20%2F8009%2F30111211-afb6-4562-b39a-ed032ee02be7&Operation=GetDisplayTemplate"><PARAM NAME="quality" VALUE="high"><PARAM NAME="bgcolor" VALUE="#FFFFFF"><PARAM NAME="allowscriptaccess" VALUE="always"><embed src="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fplasticbugs-20%2F8009%2F30111211-afb6-4562-b39a-ed032ee02be7&Operation=GetDisplayTemplate" id="Player_30111211-afb6-4562-b39a-ed032ee02be7" quality="high" bgcolor="#ffffff" name="Player_30111211-afb6-4562-b39a-ed032ee02be7" allowscriptaccess="always"  type="application/x-shockwave-flash" align="middle" height="400px" width="120px"></embed></OBJECT> <NOSCRIPT><A HREF="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fplasticbugs-20%2F8009%2F30111211-afb6-4562-b39a-ed032ee02be7&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
	</div>
	<div class="message"><%= simple_format(@message.contents.gsub(/\b((?:[a-z][\w-]+:(?:\/{1,3}|[a-z0-9%])|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}\/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'".,<>?«»“”‘’]))/) { |match|
"<a href='#{match}'>#{match}</a>"
}) %></div><br/>
<!-- <% if signed_in? %>
<%= link_to "Edit this message", :controller => 'messages', :action => 'edit', :pickUpCode => @message.pickUpCode %>
<% end %> -->

<div class="share">Share this link as a 3DS message:<br/>
<%= link_to "3dstxt.com/#{@message.pickUpCode}" %><br/>
</div>
<% form_for ([@message, @message.comments.build]) do |f| %>
<p><%= f.label "Enter your comment:" %><br/><%= f.text_area :content, :rows => "6", :cols => "40" %></p>

<div class="create"><%= f.submit "Post", :class => "submit" %></div>
<% end %>

<div id="comments">
	<% @comments.each do |comment| %>
	<% unless comment.content.nil? %>
	<%= comment.content.html_safe %> | 
	<% if current_user.id == comment.message.user_id %>
	<%= link_to (image_tag ("delete.png")), [comment.message, comment], :confirm => "Are you sure you want to delete this comment?", :method => :delete, :alt => 'Delete' %>
	<% end %>
		<hr/>
	<% end %>
	<% end %>
</div>


<div class="make_your_own"><%= link_to "Make your own 3DS TXT!", new_message_path %></div>

</div>