<% if flash[:notice] %>
<div class="row"><div class="alert alert-success span5"><%= flash[:notice] %></div></div>
<% end %>

<% if flash[:errors] %>
<div class="row"><div class="alert alert-warning span5">

<% flash[:errors].each do |error| %>
<p><%= error %></p>
<% end %>

</div></div>
<% end %>
	
	
	<div class="message-contents">
<div class="content-padding">	<%= simple_format(@message.contents.gsub(/\b((?:[a-z][\w-]+:(?:\/{1,3}|[a-z0-9%])|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}\/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'".,<>?«»“”‘’]))/) { |match|
"<a href='#{match}'>#{match}</a>"
}) %>

	<% if @friendcode %>
		<div class="page-header">
			<h2>My Friend Code <small><%= @friendcode %></small></h2>
		</div>
		<% end %>
			
			<% if @response && !@games.nil? %>

			<div class="row">
					<div class="span9"><h2 style="padding-bottom:10px;">My Top 10 Games</h2>
			<% @response.each do |amazon, game| %>
		<div class="game-container-small">
		<div class="game-box-small">
		<a href="<%= amazon['DetailPageURL'] %>" alt="Buy on Amazon"><%= image_tag(amazon['SmallImage']['URL']) %></a>
		<p><%= image_tag('18px-fade.png') %>
		<%= amazon['ItemAttributes']['Title'] %></p>
		</div>
		<%= link_to "buy on amazon", amazon['DetailPageURL'] %>
		</div>

		<% end %>
		</div></div>

		
	<% end %>
</div>
	</div>

<div class="row"><div class="span4">Share this link as a 3DS message:<br/>
<%= link_to "3dstxt.com/#{@message.pickUpCode}" %>
</div></div>

<div class="row"><div class="green-box span8"><h3>Add your comment</h3>

<%= form_for([@message, @comment], :html => {:class => ".form-vertical"}) do |f| %>

<%= f.label "Your Name:" %>
<%= f.text_field :author, :placeholder => "Enter your name here" %>
<%= f.label "Your email address (this will not be shared):" %>
<%= f.text_field :author_email, :placeholder => "Enter your email here" %><br/>
<%= f.text_area :content, :placeholder => "Enter a comment here.", :class => "span5", :style => "height:150px;" %><br/>

<button type="submit" class="btn">Post comment</button>
<% end %>
</div></div>

<div class="comment-area">
	<% if @comments %>
	<h1>Comments:</h1>
	
	<% @comments.each do |comment| %>

	<% if current_user && current_user.id == comment.message.user_id %>
			<div class="row"><div class="span8 comment">
						<div class="delete_comment"><%= button_to "Delete", [comment.message, comment], :confirm => "Are you sure you want to delete this comment? It will be gone forever.", :method => :delete, :alt => 'Delete Comment', :class => 'btn btn-mini btn-danger'%></div>
			<div class="posted_by"><span class="label label-info"><%= comment.author %></span> <%= comment.created_at.strftime("posted on %B %d @ %I:%M%p") %></div>

			
			<p><%=  nl2br(comment.content).html_safe %></p>
</div></div>
	<% else %>
	<div class="row"><div class="span8 comment">
	<div class="posted_by"><span class="label label-info"><%= comment.author %></span> <%= comment.created_at.strftime("posted on %B %d @ %I:%M%p") %></div>
			<p><%= nl2br(comment.content).html_safe %></p>
	</div></div>
	<% end %>
	<% end %>
	
	<% else %>
<h1>There are no comments yet.</h1>
<% end %>
</div>


<div><%= link_to "Make your own 3DS TXT!", new_message_path %></div>

</div>