<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
  <% if @user.errors.any? %>
    <div class="errors">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="user_settings">
	<h1>Change your password</h1>
    <p><%= f.label "Enter New Password" %></br>
    <%= f.password_field :password %></p>


    <p><%= f.label "Retype New Password" %></br>
    <%= f.password_field :password_confirmation %></p>

	<%= f.submit "Update Password" %>
<% end %>
  </div>