<div class="logged_in_as">Logged in as <%= @user.email %><br/>
	<%= link_to 'User settings', edit_user_path(current_user.id) %>
</div>

<div class="sign_in">
	<h1>Change your password</h1>
<% form_for @user do |f| -%>
  <p><%= f.label "Enter New Password" %><br/>
	<%= f.password_field :password %></p>


	<p><%= f.label "Retype New Password" %><br/>
	<%= f.password_field :password_confirmation %> </p>
	
	<%= f.submit "Change Password" %>
<% end -%></div>