<div class="row"><div class="span9"><div class="content-padding">Logged in as <%= @user.email %>
</div></div>
</div>
<div class="span9">
	<div class="content-padding well"><h1>Change your password</h1>
<%= form_for @user do |f| -%>
  <%= f.label "Enter New Password" %>
	<%= f.password_field :password %>

<%= f.label "Retype New Password" %>
	<%= f.password_field :password_confirmation %><br/>
	<button class="btn btn-success" name="commit" type="submit" style="margin-top:20px">Change Password</button>
<% end -%></div></div>