<% if @user.errors.any? %>
	<div class="errors">
	<ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
</div>
<% end %>

<div class="logged_in_as">Logged in as <%= @user.email %><br/>
	<span style="font-size:12px;">Current Limit: 6 Messages</span>
</div>
<div class="user_settings"><h1>User Settings</h1>	<hr/>
	<%= form_for @user, :html => { :multipart => true} do |f| -%>
	<div class="setting"><div class="example"><%= image_tag("friendcode.png") %></div><h2>3DS Friend Code</h2><p>Appears at the bottom of your 3DStxt pages</p>
		<%= f.text_field :friend_code, :size => 20, :maxlength => 12  %>
		</div>
	<hr/>
<div class="setting">	

	
<h2>Notifications</h2>

<p>
  <%= f.label "Email me when:" %><br/>
	<%= f.check_box :comment_alert %>someone comments on one of my pages.

</p>
</div>
<hr/>
<div class="pic_setting">	
	<h2>Profile Picture</h2>

<%= f.label "Upload a profile picture" %><br/>
<%= f.file_field :profile_pic, :style => "width:200px;font-size:14px;" %><br/>
<% if @user.profile_pic? %>
<%= image_tag @user.profile_pic.url(:medium), :class => 'profile' %>
<% end %>


</div>
<hr/>
<!-- // ><div class="setting">	

	
<h2>Email address</h2>
	<%= f.text_field :email, :size => 30 %>
	
</div>
<hr/> //-->

<div class="setting"><h2>Password</h2><%= link_to "Change your password", change_password_user_path %>
</div>

<%= f.submit "Save user settings" %>

<% end -%>
</div>