<% form_for @user do |f| -%>
  <p><%= f.label "Enter New Password" %><br/>
	<%= f.password_field :password %></p>


	<p><%= f.label "Retype New Password" %><br/>
	<%= f.password_field :password_confirmation %> </p>
	
	<%= f.submit "Change Password" %>
<% end -%>