<% if @user.errors.any? %>
	<div class="errors">
	<ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
</div>
<% end %>

<div class="logged_in_as">Logged in as <%= @user.email %><br/>
	<span style="font-size:12px;">Current Limit: 6 Messages</span>
</div>
<div class="user_settings">
<h1>Notifications</h1>

<p>want to receive an email when new comments are posted on one of your 3ds message pages?</p>
<% form_for @user do |f| -%>
  <p><%= f.label "Enable email alerts for new comments" %><br/>
	<%= f.check_box :comment_alert %></p>
	
	<%= f.submit "Save user settings" %>
<% end -%>
<h1>Password Settings</h1><%= link_to "Change your password", change_password_user_path %>
</div>