<% if @user.errors.any? %>
	<div class="span5 alert alert-error">
    <% @user.errors.full_messages.each do |msg| %>
    	<div><%= msg %></div>
    <% end %>
</div>
<% end %>

<div>
<legend>Create a new account</legend>
<%= form_for(@user, :html => {class: 'well'}) do |f| -%>

<%= f.label "Email (CASE sensitive!)" %>
<%= f.text_field :email %>


<%= f.label "Password" %>
<%= f.password_field :password %>


<%= f.label "Retype Password" %>
<%= f.password_field :password_confirmation %><br/>


<%= f.submit "Sign up" %>
<% end -%>
<span class="has_account">Already have one? <%= link_to "Sign in!", signin_path %></span></div>