<% if @user.errors.any? %>
	<div class="errors">
	<ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
</div>
<% end %>

<div class="user_settings">
<h1>Create a new account</h1><%= form_for @user do |f| -%>

<p><%= f.label "Email (CASE sensitive!)" %><br/>
<%= f.text_field :email %></p>


<p><%= f.label "Password" %><br/>
<%= f.password_field :password %></p>


<p><%= f.label "Retype Password" %><br/>
<%= f.password_field :password_confirmation %> </p>


<%= f.submit "Sign up" %>
<% end -%>
<span class="has_account">Already have one? <%= link_to "Sign in!", signin_path %></span></div>