<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>

<%#= render :partial => 'message_list' %>
<div class="logged_in_as">Logged in as <%= @user.email %><br/>
	<%= link_to 'User settings', edit_user_path(current_user.id) %>
</div>

<div class="message_list">

<h1>StreetPass Messages</h1>
		
	
	<% if @messages.count > 0 %>
<% @messages.each do |message|%>
<% if message.errors.blank? %>
<div class="message_details">
	<ul class="message_header">

		<li style="float:left;">
	
		<%= link_to "3dstxt.com/#{message.pickUpCode}", :controller => 'messages', :action => 'show', :pickUpCode => message.pickUpCode %></li>
		<li><%= "#{message.comments.count} comments" %></li>
		<li style="float:right;"><%= "#{message.impressionist_count(:filter=>:ip_address)} views" %></li>
		</ul>
		
		<div class="message_contents">
		<%= truncate message.contents, :length => 150 %>
		</div>
		
<ul class="commands">	<li class="edit"><%= link_to "EDIT", {:controller => 'messages', :action => 'edit', :pickUpCode => message.pickUpCode} %>
	<%= link_to (image_tag ("edit.png")), {:controller => 'messages', :action => 'edit', :pickUpCode => message.pickUpCode} %></li>
	
	<li class="delete"><%= link_to "DELETE", message, :confirm => "Are you sure you want to delete this message? Your custom URL will also be deleted! Click the pencil icon to KEEP your URL and only edit the message.", :method => :delete, :alt => 'Delete' %>
 <%= link_to (image_tag ("delete_3.png")), message, :confirm => "Are you sure you want to delete this message? Your custom URL will also be deleted! Click the pencil icon to KEEP your URL and only edit the message.", :method => :delete, :alt => 'Delete' %></li>
</ul></div>
<% end %>
<% end %>
<% else %>
You have no saved messages.

<% end %>
</div>


<% if @message.errors.any? %>
	<div class="errors">
	<ul>
    <% @message.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
</div>
<% end %>



<%= form_for(@message, :html => { :class => "form-horizontal"}) do |f| -%>

<fieldset><legend>Create a new page</legend>

<div class="control-group">
<label class="control-label">Your message</label>
<div class="controls"><%= f.text_area :contents, :rows => "10", :cols => "40" %></div>
</div>

<div class="control-group">
<label class="control-label">Custom link</label>
<div class="controls"><div class="input-prepend"><span class="add-on">3dstxt.com/</span><%= f.text_field :pickUpCode, :size => "5", :maxlength => "5", :class => "span2", :id => "prependedInput" %></div>
<p class="help-block">Give this message a custom URL like <span style="color: #f00">3dstxt.com/scott</span> (5 letters max)</p>
</div>
</div>


<div class="form-actions"><%= f.submit "Create", :class => "btn btn-large btn-primary" %></div>
</fieldset>
<% end -%>
