<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>

<%#= render :partial => 'message_list' %>
<div class="logged_in_as">Logged in as <%= @user.email %><br/>
	<%= link_to 'User settings', edit_user_path(current_user.id) %>
</div>

<div class="amazon_user_page"><OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab" id="Player_30111211-afb6-4562-b39a-ed032ee02be7"  WIDTH="120px" HEIGHT="400px"> <PARAM NAME="movie" VALUE="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fplasticbugs-20%2F8009%2F30111211-afb6-4562-b39a-ed032ee02be7&Operation=GetDisplayTemplate"><PARAM NAME="quality" VALUE="high"><PARAM NAME="bgcolor" VALUE="#FFFFFF"><PARAM NAME="allowscriptaccess" VALUE="always"><embed src="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fplasticbugs-20%2F8009%2F30111211-afb6-4562-b39a-ed032ee02be7&Operation=GetDisplayTemplate" id="Player_30111211-afb6-4562-b39a-ed032ee02be7" quality="high" bgcolor="#ffffff" name="Player_30111211-afb6-4562-b39a-ed032ee02be7" allowscriptaccess="always"  type="application/x-shockwave-flash" align="middle" height="400px" width="120px"></embed></OBJECT> <NOSCRIPT><A HREF="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fplasticbugs-20%2F8009%2F30111211-afb6-4562-b39a-ed032ee02be7&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT></div>

	<div class="message_list">

<h1>StreetPass Messages</h1>
		
	
	<% if @messages.count > 0 %>
<% @messages.each do |message|%>
<% if message.errors.blank? %>
<div class="message_details">
	<ul class="message_header">

		<li style="float:left;">
	
		<%= link_to "3dstxt.com/#{message.pickUpCode}", :controller => 'messages', :action => 'show', :pickUpCode => message.pickUpCode %></li>
		<li><%= "#{message.comments.count} comments" %></li>
		<li style="float:right;"><%= "#{message.impressionist_count(:filter=>:ip_address)} views" %></li>
		</ul>
		
		<div class="message_contents">
		<%= truncate message.contents, :length => 150 %>
		</div>
		
<ul class="commands">	<li class="edit"><%= link_to "EDIT", {:controller => 'messages', :action => 'edit', :pickUpCode => message.pickUpCode} %>
	<%= link_to (image_tag ("edit.png")), {:controller => 'messages', :action => 'edit', :pickUpCode => message.pickUpCode} %></li>
	
	<li class="delete"><%= link_to "DELETE", message, :confirm => "Are you sure you want to delete this message? Your custom URL will also be deleted! Click the pencil icon to KEEP your URL and only edit the message.", :method => :delete, :alt => 'Delete' %>
 <%= link_to (image_tag ("delete_3.png")), message, :confirm => "Are you sure you want to delete this message? Your custom URL will also be deleted! Click the pencil icon to KEEP your URL and only edit the message.", :method => :delete, :alt => 'Delete' %></li>
</ul></div>
<% end %>
<% end %>
<% else %>
You have no saved messages.

<% end %>
</div>


<% if @message.errors.any? %>
	<div class="errors">
	<ul>
    <% @message.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
</div>
<% end %>

<div id="form">

<%= form_for @message do |f| -%>

	<p><h1>Create a new message:</h1><%= f.text_area :contents, :rows => "10", :cols => "40" %></p>
	
<div class="custom">Optional:<br/>Give this message a custom URL like <span style="color: #f00">3dstxt.com/scott</span> (5 letters max)
<p>3dstxt.com/<%= f.text_field :pickUpCode, :rows => "5", :maxlength => "5"%></p>
</div>

  <div class="create"><%= f.submit "Create", :class => "create_button" %></div>

<% end -%>
</div>