<%= flash[:notice] %>

<% if @response && !@games.nil? %>
<div>
<% @response.each do |amazon, game| %>

<div>	<%= amazon['ItemAttributes']['Title'] %><br/>
	Publisher: <%= amazon['ItemAttributes']['Publisher'] %><br/>
<%= image_tag(amazon['MediumImage']['URL']) %><br/>
	<%= link_to "Remove #{amazon['ItemAttributes']['Title']}", [game.user, game], :method => :delete, :alt => 'Delete Game'%>
</div>
</div>
<% end %>
<% else %>
<%= link_to "Add games to your collection", :controller => 'games', :action => 'search' %>

<% end %>