<%= flash[:notice] %>

<% if @response && !@games.nil? %>
<div class="span9">
<% @response.each do |amazon, game| %>

<div class="span4 well" style="float:left;">	<%= amazon['ItemAttributes']['Title'] %><br/>
<%= image_tag(amazon['MediumImage']['URL']) %><br/>
	<%= link_to [game.user, game], :method => :delete, :alt => 'Delete Game' do %>
	<i class="icon-remove"></i>Remove
	<% end %>
</div>

<% end %>
</div>
<% else %>
<%= link_to "Add games to your collection", :controller => 'games', :action => 'search' %>

<% end %>