<% if flash[:notice] %>
	<div class="row"><div class="alert alert-success span4">
		<%= flash[:notice] %><br/>
		</div></div>
<% end %>


<% if  !@error_messages.nil? %>
<div class="row">
	<div class="alert alert-error span4">
<% @error_messages.each do |error| %>
<%= "#{error}." %><br/>
<% end %>
</div>
</div>
<% end %>

<h2>Add games to your collection</h2>
<%= form_tag({:controller => "games", :action => "search"}, :method => "get", :class => "form-horizontal") do %>
	<fieldset><%= label_tag 'Game Title' %><div class="input-append"><%= text_field_tag :query, params[:query], :class => "span2", :id => "appendedPrependedInput", :type => "text" %><button type="submit" class="btn">Add Game</button></div></fieldset>
<div style="margin-top:14px;">	<fieldset><label>Nintendo System:</label>
	<label class="radio">
	  		<input type="radio" name="gametype" id="3dstype" value="3ds" checked>Nintendo 3DS
		</label>
		<label class="radio">
	  	<input type="radio" name="gametype" id="dstype" value="ds">Nintendo DS
		</label></fieldset></div>
<% end %>
	
	<% unless @user.games.nil? %>
		<h5><%= "You have #{@user.games.count} games in your collection." %></h5>
	<% end %>

	
	<% if @response %>
	
	<div class="row">
		<div class="span5 well">
			<% if @response['Items']['Item'].class == Array %>
		<%= "You added #{@response['Items']['Item'].first['ItemAttributes']['Title']} to your collection."  %>
		<br/>
		<%= image_tag (@response['Items']['Item'].first['MediumImage']['URL']) %>
			<% else %>
		<%= "You added #{@response['Items']['Item']['ItemAttributes']['Title']} to your collection."  %>
		<br/>
		<%= image_tag (@response['Items']['Item']['MediumImage']['URL']) %>
		<% end %>
		</div>
	</div>
	<% end %>