<% if flash[:notice] %>
	<div class="row"><div class="alert alert-success span4">
		<%= flash[:notice] %><br/>
	</div></div>
<% end %>


<% if  !@error_messages.nil? %>
<div class="row">
	<div class="alert alert-error span4">
<% @error_messages.each do |error| %>
<%= "#{error}." %><br/>
<% end %>
</div>
</div>
<% end %>

	<h2>Add games to your collection</h2>
<%= form_tag({:controller => "games", :action => "search"}, :method => "get", :class => "form-horizontal") do %>
	<%= label_tag 'Game Title' %><div class="input-append"><%= text_field_tag :query, params[:query], :class => "span2", :id => "appendedPrependedInput", :type => "text" %><button type="submit" class="btn">Add Game</button></div>
	<% end %>
	
	
	<% unless @user.games.nil? %>
		<h5><%= "You have #{@user.games.count} games in your collection." %></h5>
	<% end %>

	
	<% if @response %>
	
	<div class="row"><div class="span5 well"><%= "You added #{@response['Items']['Item'].first['ItemAttributes']['Title']} to your collection."  %><br/><%= image_tag (@response['Items']['Item'].first['MediumImage']['URL']) %></div></div>
	<% end %>