<!DOCTYPE html>
<html>
<head>
  <title>Txtapp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
	<header>
		<%= image_tag "3dtxtlogo.png", :alt => '3DSTXT Logo', :class => 'logo' %>
	</header>

	

<%= yield %>
</div>
</body>
</html>
