<!DOCTYPE html>
<html>
<head>
  
<% if @title %>
<title><%= "3DSTXT.com - #{@title}" %></title>
<% else %>
<title>3DSTXT.com - Breaking the 16 Character Limit</title>
<% end %>
<% if false %>
  <%= stylesheet_link_tag '/stylesheets/style.css' %>
<% end %>

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', :defer	=> true, :async => true %>
	<%= javascript_include_tag "bootstrap-alert" %>
<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-23096106-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
		
	</script>
</head>
<body>
<div class="container">
	<header>
		<%= link_to image_tag("new_logo2.png", :alt => '3DSTXT Logo'), root_path %>
		<%= link_to image_tag("ribbon.png", :alt => 'Make your own 3DS txt!'), root_path %>
	</header>

<ul class="nav nav-pills">
			<% if signed_in? %>
			<li><%= link_to "Message List", user_path(current_user.id) %></li>
			<li><%= link_to 'User settings', edit_user_path(current_user.id) %></li>
			<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
			
			<% else %>
			<li><%= link_to "Create new account", signup_path %></li>
			<li><%= link_to "Sign in", signin_path %></li>

			<% end %>
</ul>


<div class="row">
	

<div class="span9"><%= yield %></div>
<div class="span3"><OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab" id="Player_30111211-afb6-4562-b39a-ed032ee02be7"  WIDTH="120px" HEIGHT="400px"> <PARAM NAME="movie" VALUE="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fplasticbugs-20%2F8009%2F30111211-afb6-4562-b39a-ed032ee02be7&Operation=GetDisplayTemplate"><PARAM NAME="quality" VALUE="high"><PARAM NAME="bgcolor" VALUE="#FFFFFF"><PARAM NAME="allowscriptaccess" VALUE="always"><embed src="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fplasticbugs-20%2F8009%2F30111211-afb6-4562-b39a-ed032ee02be7&Operation=GetDisplayTemplate" id="Player_30111211-afb6-4562-b39a-ed032ee02be7" quality="high" bgcolor="#ffffff" name="Player_30111211-afb6-4562-b39a-ed032ee02be7" allowscriptaccess="always"  type="application/x-shockwave-flash" align="middle" height="400px" width="120px"></embed></OBJECT> <NOSCRIPT><A HREF="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fplasticbugs-20%2F8009%2F30111211-afb6-4562-b39a-ed032ee02be7&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
</div>
</div>

<div id="footer"><%= link_to "About this site", pages_about_path %></div>
</div>
</body>
</html>
