<!DOCTYPE html>
<html>
<head>
  
<% if @title %>
<title><%= "3DSTXT.com - #{@title}" %></title>
<% else %>
<title>3DSTXT.com - Breaking the 16 Character Limit</title>
<% end %>
  <%= stylesheet_link_tag '/stylesheets/style.css' %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-23096106-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
<div id="container">
	<header>
		<%= link_to image_tag("new_logo2.png", :alt => '3DSTXT Logo', :class => 'logo'), root_path %>
		<%= link_to image_tag("ribbon.png", :alt => 'Make your own 3DS txt!', :class => 'ribbon'), root_path %>
	</header>

<ul class="sign_in_nav">
			<% if signed_in? %>
			<li><%= link_to "Message List", user_path(current_user.id) %></li>
			<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
			<% else %>
			<li><%= link_to "Create new account", signup_path %></li>
			<li><%= link_to "Sign in", signin_path %></li>

			<% end %>
</ul>


	

<%= yield %>
<div id="footer"><%= link_to "About this site", pages_about_path %></div>
</div>
</body>
</html>
